<h1>
  Show selected user article
</h1>
<P>
  Title : <%=@article.title %>
</P>
<P>
  Description : <%=@article.description %>
</P>
<%=link_to 'edit',edit_article_path %>
<%=link_to 'Back',articles_path %>